.pag {
  padding: 0 20px 20px;
  display: flex;
  align-items: center;
  &_hidden {
    display: none;
  }
  &__label {
    color: $fontDisabled;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 0 0 24px;
  }
  &__input {
    width: 70px;
    color: $fontPrimary;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 12px;
    margin: 0 0 0 8px;
    border-radius: 4px;
    border: 1px solid $borderDefault;
    background-color: $bgSecondaryDefault;
    transition: all ease 0.5s;
    &:focus {
      border: 1px solid $borderActive;
    }
  }
}
