.header {
  background-color: var(--bg-primary-default);
  padding: 24px;
  display: flex;
  justify-content: flex-end;
}

.header__nav {
}

.header__nav-items {
  display: flex;
}

.header__nav-item {
  margin: 0 0 0 40px;
}

.user-button {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all ease 0.5s;
}

.user-button:hover {
  border: 1px solid var(--bg-secondary-default);
}

.user-button_active {
  background-color: var(--bg-secondary-default);
}

.user-button__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 14px 0 0;
}

.user-button__icon {
  background-image: url("../../images/icons/arrow-down-light.svg");
  background-color: transparent;
  width: 13px;
  height: 8px;
}

.user-button__icon_active {
  background-image: url("../../images/icons/arrow-down-grey.svg");
}
