.dropdown-menu {
  z-index: 2;
  position: absolute;
  top: 48px;
  right: 0;
  padding: 16px;
  background-color: $bgSecondaryDefault;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  &__item {
    &:first-child {
      margin: 0 0 16px;
    }
  }
  &__link {
    cursor: default;
    font-size: 14px;
    line-height: 19px;
    color: $fontPrimary;
    transition: all ease 0.5s;
    // &:hover {
    //   opacity: 0.8;
    // }
    &_type {
      &_delete {
        color: $fontError;
      }
    }
  }
}
