.list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  &-item {
    list-style: none;
    margin: 10px 0 0;
    border: 1px solid transparent;
    transition: all ease 0.5s;
    &:hover {
      border-bottom: 1px solid $fontPrimary;
    }
  }
  &-title {
    font-size: 16px;
    line-height: 19px;
    color: $fontPrimary;
  }
}

.user {
  cursor: default;
  text-align: center;
  &:hover {
    border-bottom: 1px solid transparent;
  }
}
