html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
main {
  display: block;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
input,
button,
textarea {
  font-family: inherit;
}
fieldset {
  padding: 0;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
a {
  background-color: transparent;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
b,
strong {
  font-weight: bolder;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
  border-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  height: auto;
  width: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
