$bgPrimaryDefault: #1f75cb;
$bgPprimaryHover: #1068bf;
$bgPrimaryActive: #0b5cad;
$bgDisabled: #dcdcde;

$bgSecondaryDefault: #ffffff;
$bgSecondaryHover: #ececef;
$bgSecondaryActive: #dcdcde;

$borderDefault: rgba(0, 0, 0, 0.15);
$borderHover: rgba(18, 19, 22, 0.5);
$borderActive: #1c1c1c;
$borderError: #ee4222;
$borderDisabled: rgba(0, 0, 0, 0.15);
$borderBronze: #9e6955;

$fontPrimary: #1c1c1c;
$fontSecondary: #ffffff;
$fontDisabled: #8e8e8e;
$fontError: #ee4222;
$fontPlaceholder: #d9d9d9;
