.list-item {
  padding: 0 40px 8px;
  margin: 0 0 12px;
  border-bottom: 1px solid var(--border-active);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.list-wrapper {
  width: 100%;
}

.list-container {
  display: flex;
  flex-direction: row;
}

.list-title {
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary);
  margin: 0 16px 6px 0;
  display: block;
  display: -webkit-box;
  height: 38px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-userAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 0 0 auto;
}

.list-projectCode {
  font-size: 14px;
  line-height: 19px;
  color: var(--font-primary);
  max-width: 215px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-create {
  font-size: 14px;
  line-height: 19px;
  color: var(--font-disabled);
  margin: 0 16px;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-status {
  font-size: 14px;
  line-height: 19px;
  color: var(--font-secondary);
  padding: 0 8px;
  border-radius: 4px;
  margin: 0 16px 0 0;
}

.list-status_type_draft {
  background-color: var(--border-bronze);
}

.list-update {
  font-size: 14px;
  line-height: 19px;
  color: var(--font-disabled);
  margin: 0 0 0 auto;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-button {
  display: none;
  margin: 0 0 0 16px;
}

.list-item:hover .list-button {
  display: block;
}
