.button {
  padding: 11.5px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 19px;
  transition: all ease 0.5s;
}

.nav-button {
  background-color: transparent;
  border: 1px solid var(--bg-secondary-default);
  color: var(--font-secondary);
}

.nav-button:hover {
  background-color: var(--bg-secondary-hover);
  color: var(--font-primary);
}

.nav-button_active {
  background-color: var(--bg-secondary-default);
  color: var(--font-primary);
}

.page-button {
  background-color: var(--bg-primary-default);
  color: var(--font-secondary);
}

.page-button:hover {
  background-color: var(--bg-primary-hover);
}

.icon-button {
  background-image: url("../images/icons/menu-dots.svg");
  background-color: var(--bg-secondary-default);
  background-size: contain;
  background-position: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--border-default);
  border-radius: 4px;
  transition: all ease 0.5s;
}

.icon-button:hover {
  background-color: var(--bg-secondary-hover);
  border: 1px solid var(--border-hover);
}
